.form-task {
  /* height: 100%; */
  width: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time-container {
  display: flex;
  width: 100%;
}

/* .btn-lg {
  width: 371px;
  height: 63px;

  background: #3397f1;
  border-radius: 5px;
  border: none;

  color: #f2f2f2;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 108.1%;
} */

.creatable-div {
  overflow-y: auto;
  max-width: 360px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.form-side {
  justify-content: flex-start;
}

@media only screen and (min-width: 568px) {
  .creatable-div {
    min-width: 400px;
    max-width: 460px;
  }
}

@media only screen and (min-width: 768px) {
  .creatable-div {
    min-width: 600px;
    max-width: 660px;
  }
}

@media only screen and (min-width: 992px) {
  .creatable-div {
    min-width: 300px;
    max-width: 360px;
  }

  .form-task {
    height: 100%;
  }
}
