.form-task {
  height: 100%;
  width: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time-container {
  display: flex;
  width: 380px;
}

.btn-lg {
  width: 371px;
  height: 63px;

  background: #3397f1;
  border-radius: 5px;
  border: none;

  color: #f2f2f2;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 108.1%;
}

.creatable-div {
  overflow-y: auto;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}
