/* Seus estilos globais vão aqui */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Inter", sans-serif;

  background-image: url("../../assets/img/background-mobile.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  /* margin-left: 100px; */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logout-btn {
  margin: 5px;
  padding: 5px;
  border: none;
  background: none;

  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #4f4f4f;

  text-decoration: underline;
  cursor: pointer;
}

.container {
  font-family: "Inter", sans-serif;
  height: 776px;
  width: 428px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../../assets/img/Background-web.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    width: 768px;
    height: 876px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("../../assets/img/Background-web.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    height: 716px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 82px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid #e0e0e0;
  }
  .centralize {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../../assets/img/Background-web.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    height: 716px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .centralize {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
